<tc_include file="Common:head" />
<body class="ys-myaccount">
<div class="aui-content aui-margin-b-15 ys-my-header">
	<img src="__ROOT__/application/Yanshi/Dist/images/yanshi/my-header.jpg" />
	<span class="logo-inner">
        <img src="__ROOT__/application/Yanshi/Dist/images/yanshi/my-logo.jpg" alt="logo" class="logo" />
    </span>
    <div class="user-info"><span class="user-no">152ZSJH7780</span><span class="user-sex"><img src="__ROOT__/application/Yanshi/Dist/images/yanshi/my-sex.png" /></span></div>
</div>
<div class="aui-content ys-margin-b-40">
	<ul class="aui-list aui-list-in">
        <li class="aui-list-item">
            <div class="aui-list-item-label-icon">
                <img src="__ROOT__/application/Yanshi/Dist/images/yanshi/my-address.jpg" />
            </div>
            <div class="aui-list-item-inner aui-list-item-arrow">
       			送餐地址
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-label-icon">
                <img src="__ROOT__/application/Yanshi/Dist/images/yanshi/my-car.jpg" />
            </div>
            <div class="aui-list-item-inner aui-list-item-arrow">
       			我的购物车
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-label-icon">
                <img src="__ROOT__/application/Yanshi/Dist/images/yanshi/my-yhj.jpg" />
                
            </div>
            <div class="aui-list-item-inner aui-list-item-arrow">
       			优惠券
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-label-icon">
               	<img src="__ROOT__/application/Yanshi/Dist/images/yanshi/my-back.jpg" />
                
            </div>
            <div class="aui-list-item-inner aui-list-item-arrow">
       			申请退款
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-label-icon">
                <img src="__ROOT__/application/Yanshi/Dist/images/yanshi/my-contact.jpg" />
                
            </div>
            <div class="aui-list-item-inner aui-list-item-arrow">
       			联系我们
            </div>
        </li>
    </ul>
</div>
<tc_include file="Common:footer" />
</body>
</html>