<tc_include file="Common:head" />
<body class="ys-register-question">
<div class="aui-content">
	<div class="aui-content register-question-header">
		<p>小伙伴你好：</p>
		<p>为了提供更好的服务，</p>
		<p>我们设计了如下调查，</p>
		<p>完成简单的几个问题就可以获得【体验餐半价】的优惠券。</p>
	</div>
	<div class="aui-content aui-margin-b-15">
	    <ul class="aui-list aui-list-in">
	        <li class="aui-list-header">
	            <p>你是如何知道魇食的</p>
	        </li>
	        <li class="aui-list-item">
	            <div class="aui-list-item-inner">
	                <div class="aui-list-item-title">
						<label class="radio-label default-label"><input class="aui-radio" type="radio" name="radio1" checked="checked">朋友圈</label>
	                </div>
	            </div>
	        </li>
	        <li class="aui-list-item">
	            <div class="aui-list-item-inner">
	                <div class="aui-list-item-title">
						<label class="radio-label"><input class="aui-radio" type="radio" name="radio1">
							微博
						</label>
	                </div>
	            </div>
	        </li>
	         <li class="aui-list-item">
	            <div class="aui-list-item-inner">
	                <div class="aui-list-item-title">
						<label class="radio-label"><input class="aui-radio" type="radio" name="radio1">
							好友推荐
						</label>
	                </div>
	            </div>
	        </li>
	         <li class="aui-list-item">
	            <div class="aui-list-item-inner">
	                <div class="aui-list-item-title">
						<label class="radio-label"><input class="aui-radio" type="radio" name="radio1">
							传单海报
						</label>
	                </div>
	            </div>
	        </li>
	         <li class="aui-list-item">
	            <div class="aui-list-item-inner">
	                <div class="aui-list-item-title">
						<label class="radio-label"><input class="aui-radio" type="radio" name="radio1">
							其他
						</label>
	                </div>
	            </div>
	        </li>
	    </ul>
    </div>
    <div class="aui-content aui-margin-b-15">
	    <ul class="aui-list aui-list-in">
	        <li class="aui-list-header">
	            <p>小伙伴你是哪个学校的呢</p>
	        </li>
	        <li class="aui-list-item">
	            <div class="aui-list-item-inner">
	                <div class="aui-list-item-title">
						<label class="radio-label default-label"><input class="aui-radio" type="radio" name="radio2" checked="checked">西财</label>
	                </div>
	            </div>
	        </li>
	        <li class="aui-list-item">
	            <div class="aui-list-item-inner">
	                <div class="aui-list-item-title">
						<label class="radio-label"><input class="aui-radio" type="radio" name="radio2">
							成师
						</label>
	                </div>
	            </div>
	        </li>
	         <li class="aui-list-item">
	            <div class="aui-list-item-inner">
	                <div class="aui-list-item-title">
						<label class="radio-label"><input class="aui-radio" type="radio" name="radio2">
							西医大
						</label>
	                </div>
	            </div>
	        </li>
	         <li class="aui-list-item">
	            <div class="aui-list-item-inner">
	                <div class="aui-list-item-title">
						<label class="radio-label"><input class="aui-radio" type="radio" name="radio2">
							交院
						</label>
	                </div>
	            </div>
	        </li>
	         <li class="aui-list-item">
	            <div class="aui-list-item-inner">
	                <div class="aui-list-item-title">
						<label class="radio-label"><input class="aui-radio" type="radio" name="radio2">
							都不是
						</label>
	                </div>
	            </div>
	        </li>
	    </ul>
    </div>
    <div class="aui-content aui-margin-b-15">
	    <ul class="aui-list aui-list-in">
	        <li class="aui-list-header">
	            <p>你的性别</p>
	        </li>
	        <li class="aui-list-item">
	            <div class="aui-list-item-inner">
	                <div class="aui-list-item-title">
						<label class="radio-label default-label"><input class="aui-radio" type="radio" name="radio3" checked="checked">男</label>
	                </div>
	            </div>
	        </li>
	        <li class="aui-list-item">
	            <div class="aui-list-item-inner">
	                <div class="aui-list-item-title">
						<label class="radio-label"><input class="aui-radio" type="radio" name="radio3">
							女
						</label>
	                </div>
	            </div>
	        </li>
	    </ul>
    </div>
    <div class="aui-content aui-margin-b-15">
	    <ul class="aui-list aui-list-in">
	        <li class="aui-list-header">
	            <p>你关注我们的目的呢</p>
	        </li>
	        <li class="aui-list-item">
	            <div class="aui-list-item-inner">
	                <div class="aui-list-item-title">
						<label class="radio-label default-label"><input class="aui-radio" type="radio" name="radio4" checked="checked">减肥</label>
	                </div>
	            </div>
	        </li>
	        <li class="aui-list-item">
	            <div class="aui-list-item-inner">
	                <div class="aui-list-item-title">
						<label class="radio-label"><input class="aui-radio" type="radio" name="radio4">
							吃着健康
						</label>
	                </div>
	            </div>
	        </li>
	         <li class="aui-list-item">
	            <div class="aui-list-item-inner">
	                <div class="aui-list-item-title">
						<label class="radio-label"><input class="aui-radio" type="radio" name="radio4">
							打酱油路过
						</label>
	                </div>
	            </div>
	        </li>
	    </ul>
    </div>
    <div class="aui-content question-sub-wrap">
		<div class="question-sub-btn">提交</div>
	</div>
</div>
</body>
</html>