<tc_include file="Common:head" />
<body class="ys-login">
<div class="aui-content">
	<div class="logo-banner">
	    <img src="__ROOT__/application/Yanshi/Dist/images/yanshi/logo.png" alt="logo" class="logo" />
    </div>
	<ul class="aui-list aui-form-list aui-margin-l-15 aui-margin-r-15">
		<li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label">
                    <img src="__ROOT__/application/Yanshi/Dist/images/yanshi/input-user.png" class="input-user-icon"/>
                </div>
                <div class="aui-list-item-input">
                    <input type="text" placeholder="请输入注册的手机号">
                </div>
                <div class="input-del-wrapper aui-margin-r-15">
                    <img src="__ROOT__/application/Yanshi/Dist/images/yanshi/input-del.png" class="input-del-icon"/>
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label">
                   <img src="__ROOT__/application/Yanshi/Dist/images/yanshi/input-safe.png" class="input-safe-icon"/>
                </div>
                <div class="aui-list-item-input">
                    <input type="text" placeholder="请输入验证码" class="verify">
                    <div class="get-verify-btn">获取验证码</div>
                </div>
            </div>
        </li>
	</ul>
	<div class="aui-content login-wrap">
		<div class="login-btn">登录</div>
	</div>
</div>
</body>
</html>