<tc_include file="Common:head" />
<body class="ys-order-detail">
	<div class="aui-content aui-margin-b-5">
		<div class="aui-card-list">
	        <div class="aui-card-list-header">
	            <span class="ys-list-header">订单已完成</span>
	        </div>
	        <div class="aui-card-list-content ys-list-middle">
	            感谢您对魇食的支持，欢迎再次光临。
	        </div>
	        <div class="aui-card-list-footer">
	        	<div class="ys-list-sh-btn aui-margin-b-10">
	            	<img src="__ROOT__/application/Yanshi/Dist/images/yanshi/order-sh.png" />
	            	售后服务
	            </div>
	        </div>
	    </div>
	</div>
	<div class="aui-content aui-margin-b-15">
		<ul class="aui-list aui-list-in">
	        <li class="aui-list-item ys-address-info  aui-padded-t-10 aui-padded-b-10">
	            <div class="aui-list-item-label-icon">
	                <i class="aui-iconfont aui-icon-location aui-text-info"></i>
	            </div>
	            <div class="aui-list-item-inner aui-list-item-arrow">
	                <div class="aui-list-item-title">
	                    <p class="order-address">成都西南财大B学生宿舍4-11</p>
	                    <p class="order-info">
	                        <span class="order-username">王小明</span>
	                        <span class="order-tel">15902833211</span>
	                    </p>
	                </div>
	                <div class="aui-list-item-title order-edit-address">
	                	修改地址
	                </div>
	            </div>
	        </li>
	         <li class="aui-list-item  aui-padded-t-10 aui-padded-b-10 " >
	            <div class="aui-list-item-label-icon">
	                <img src="__ROOT__/application/Yanshi/Dist/images/yanshi/order-delay.png" class="order-delay-icon" />
	            </div>
	            <div class="aui-list-item-inner aui-list-item-arrow" tapmode onclick="openDialog('callback')">
	                <div class="aui-list-item-title">
	                    <p class="order-delay-text">延时送餐申请</p>
	                    <p class="order-delay-info">
	                        订单中的所有商品会同时延时配送
	                    </p>
	                </div>
	            </div>
	        </li>
	    </ul>
	</div>
	<div class="aui-content aui-margin-b-15">
	    <ul class="aui-list aui-media-list ys-order-media-list">
	        <li class="aui-list-item after-meal-info">
	        	<div class="aui-media-list-item-inner">
		        	<div class="aui-list-item-media order-item-media">
	                     接餐地址
	                </div>
		            <div class="aui-list-item-inner">
		                <div class="aui-list-item-title">
		                    <span class="ater-meal-address">西南财大B学生宿舍1楼入口</span>
		                </div>
	                </div>
	            </div>
	        </li>
	         <li class="aui-list-item order-remark-info">
	         	<div class="aui-media-list-item-inner">
		         	<div class="aui-list-item-media order-item-media">
	                     备注
	                </div>
		            <div class="aui-list-item-inner">
		                <div class="aui-list-item-title">
		                    <span class="order-remark">沙拉不要加生菜，果汁要常温。沙拉不要加生
								菜，果汁要常温。</span>
		                </div>
		            </div>
	            </div>
	        </li>
	         <li class="aui-list-item order-time-info">
	         	<div class="aui-media-list-item-inner">
		         	<div class="aui-list-item-media order-item-media">
	                     下单时间
	                </div>
		            <div class="aui-list-item-inner">
		                <div class="aui-list-item-title">
		                    <span class="order-time">2017-03-11 20:10:59</span>
		                </div>
		            </div>
	            </div>
	        </li>
	    </ul>
	</div>
	<div class="aui-content aui-margin-b-15 ys-order-list">
	    <div class="aui-content order-id-container">
	        <div class="ys-order-wrap">
	            <span class="ys-order-icon">No.</span>
	            <span class="ys-order-text">201707112567</span>
	            <span class="ys-order-status">复制</span>
	        </div>
	    </div>
	    <ul class="aui-list aui-media-list">
	        <li class="aui-list-item">
	            <div class="aui-media-list-item-inner">
	                <div class="aui-list-item-media">
	                    <img src="__ROOT__/application/Yanshi/Dist/images/yanshi/jk-2.jpg">
	                </div>
	                <div class="aui-list-item-inner">
	                    <div class="aui-list-item-text">
	                        <div class="aui-list-item-title">3日健康体检餐</div>
	                        <div class="aui-list-item-right">￥177</div>
	                    </div>
	                    <div class="aui-list-item-text">
	                        大份，30天
	                    </div>
	                    <div class="aui-list-item-text">
	                        <span class="order-num">总送餐次数：6次</span>
	                        <span class="order-time">含中、晚餐</span>
	                    </div>
	                    <div class="aui-list-item-text">
                        	剩余次数：2次
                    	</div>
	                </div>
	            </div>
	            <!-- <div class="aui-swipe-btn">
	                <div class="aui-btn aui-btn-danger">删除</div>
	            </div> -->
	        </li>
	        <li class="aui-list-item">
	            <div class="aui-media-list-item-inner">
	                <div class="aui-list-item-media">
	                    <img src="__ROOT__/application/Yanshi/Dist/images/yanshi/jk-4.jpg">
	                </div>
	                <div class="aui-list-item-inner">
	                    <div class="aui-list-item-text">
	                        <div class="aui-list-item-title">阳光健康饮食套餐</div>
	                        <div class="aui-list-item-right">￥108</div>
	                    </div>
	                    <div class="aui-list-item-text">
	                        小份，10天
	                    </div>
	                    <div class="aui-list-item-text">
	                       <span class="order-num">总送餐次数：6次</span>
	                        <span class="order-time">含中、晚餐</span>
	                    </div>
	                    <div class="aui-list-item-text">
                        	剩余次数：2次
                    	</div>
	                </div>
	            </div>
	            <!-- <div class="aui-swipe-btn">
	                <div class="aui-btn aui-btn-danger">删除</div>
	            </div> -->
	        </li>
	    </ul>
	</div>
	<div class="aui-content aui-margin-b-15">
		<ul class="aui-list aui-media-list">
			<li class="aui-list-item">
		        <div class="aui-media-list-item-inner">
		            <div class="aui-list-item-media">
		               商品总计
		            </div>
		            <div class="aui-list-item-inner">
		                <div class="aui-list-item-text">
		                    <div class="aui-list-item-title">
		                    </div>
		                    <div class="aui-list-item-right">
		                        ￥288
		                    </div>
		                </div>
		            </div>
		        </div>
		    </li>
		    <li class="aui-list-item">
		        <div class="aui-media-list-item-inner">
		            <div class="aui-list-item-media">
		               拼团优惠
		            </div>
		            <div class="aui-list-item-inner">
		                <div class="aui-list-item-text">
		                    <div class="aui-list-item-title">
		                    </div>
		                    <div class="aui-list-item-right">
		                        -￥60
		                    </div>
		                </div>
		            </div>
		        </div>
		    </li>
		    <li class="aui-list-item">
		        <div class="aui-media-list-item-inner">
		            <div class="aui-list-item-media">
		               优惠券
		            </div>
		            <div class="aui-list-item-inner">
		                <div class="aui-list-item-text">
		                    <div class="aui-list-item-title">
		                    </div>
		                    <div class="aui-list-item-right">
		                        -￥20
		                    </div>
		                </div>
		            </div>
		        </div>
		    </li>
		    <li class="aui-list-item">
		        <div class="aui-media-list-item-inner">
		            <div class="aui-list-item-media">
		               实付款
		            </div>
		            <div class="aui-list-item-inner">
		                <div class="aui-list-item-text">
		                    <div class="aui-list-item-title">
		                    </div>
		                    <div class="aui-list-item-right">
		                        ￥208
		                    </div>
		                </div>
		            </div>
		        </div>
		    </li>
		</ul>
	</div>
	<div class="aui-content aui-margin-b-15">
	    <div class="aui-content ys-pt-container">
	        <div class="ys-pt-header">
	            拼团信息
	        </div>
	    </div>
	    <ul class="aui-list aui-media-list pt-list">
	        <li class="aui-list-item">
	            <div class="aui-col-xs-2 aui-ellipsis-1">张小明</div>
	            <div class="aui-col-xs-6 ">152XTS20172833</div>
	            <div class="aui-col-xs-2 " style="color:#fa5400;">-￥10</div>
	            <div class="aui-col-xs-2 ">已预订</div>
	        </li>
	        <li class="aui-list-item">
	            <div class="aui-col-xs-2 aui-ellipsis-1">周星驰</div>
	            <div class="aui-col-xs-6 ">152XTS20172333</div>
	            <div class="aui-col-xs-2 " style="color:#fa5400;">-￥10</div>
	            <div class="aui-col-xs-2">未预订</div>
	        </li>
	    </ul>
	</div>
	<div class="aui-content order-sub-wrap">
		<div class="order-sub-btn">提交</div>
	</div>
	<div id="dialog-inner-content" class="aui-hide">
		<div class="aui-content delay-header">
			<div class="cancel-btn">取消</div>
			<div class="confrim-btn">确定</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="__ROOT__/application/Yanshi/Dist/js/aui/aui-dialog.js" ></script>
<script type="text/javascript">
var dialog = new auiDialog();
function openDialog(type){
    switch (type) {
        case "callback":
            dialog.alert({
                title:"",
                msg:document.getElementById('dialog-inner-content').innerHTML,
                buttons:[]
            },function(ret){
                if(ret){
                    dialog.alert({
                        title:"提示",
                        msg:"您点击了第"+ret.buttonIndex+"个按钮",
                        buttons:['确定']
                    });
                }
            })
        break;
        default:
            break;
    }
}
</script>
</html>