<tc_include file="Common:head" />
<body class="ys-reserve">
<div class="aui-content aui-margin-b-15">
	<ul class="aui-list aui-list-in">
        <li class="aui-list-item ys-address-info">
            <div class="aui-list-item-label-icon">
                <i class="aui-iconfont aui-icon-location aui-text-info"></i>
            </div>
            <div class="aui-list-item-inner aui-list-item-arrow">
                <div class="aui-list-item-title">
                    <p class="order-address">成都西南财大B学生宿舍4-11</p>
                    <p class="order-info">
                        <span class="order-username">王小明</span>
                        <span class="order-tel">15902833211</span>
                    </p>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="aui-content aui-margin-b-15">
    <div class="aui-content order-id-container">
        <div class="ys-order-wrap">
            <span class="ys-order-icon">No.</span>
            <span class="ys-order-text">201707112567</span>
        </div>
    </div>
    <ul class="aui-list aui-media-list">
        <li class="aui-list-item">
            <div class="aui-media-list-item-inner">
                <div class="aui-list-item-media">
                    <img src="__ROOT__/application/Yanshi/Dist/images/yanshi/jk-2.jpg">
                </div>
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-text">
                        <div class="aui-list-item-title">3日健康体检餐</div>
                        <div class="aui-list-item-right">￥177</div>
                    </div>
                    <div class="aui-list-item-text">
                        大份，30天
                    </div>
                    <div class="aui-list-item-text">
                        送餐次数：6次
                    </div>
                </div>
            </div>
            <!-- <div class="aui-swipe-btn">
                <div class="aui-btn aui-btn-danger">删除</div>
            </div> -->
        </li>
        <li class="aui-list-item">
            <div class="aui-media-list-item-inner">
                <div class="aui-list-item-media">
                    <img src="__ROOT__/application/Yanshi/Dist/images/yanshi/jk-3.jpg">
                </div>
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-text">
                        <div class="aui-list-item-title">冬日非凡系列</div>
                        <div class="aui-list-item-right">￥1080</div>
                    </div>
                    <div class="aui-list-item-text">
                        大份，14天
                    </div>
                    <div class="aui-list-item-text">
                        送餐次数：6次
                    </div>
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-media-list-item-inner">
                <div class="aui-list-item-media">
                    <img src="__ROOT__/application/Yanshi/Dist/images/yanshi/yp-2.jpg">
                </div>
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-text">
                        <div class="aui-list-item-title">夏季清爽酸梅汤</div>
                        <div class="aui-list-item-right">￥15</div>
                    </div>
                    <div class="aui-list-item-text">
                        大份，7天
                    </div>
                    <div class="aui-list-item-text">
                        送餐次数：6次
                    </div>
                </div>
                <div class="yp-detele-wrapper">
                    <img src="__ROOT__/application/Yanshi/Dist/images/yanshi/delete.jpg" />
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="aui-content aui-margin-b-15">
    <ul class="aui-list aui-list-in">
        <li class="aui-list-item after-meal-info">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-title">
                    <p>
                        接餐地址
                        <span class="ater-meal-address">西南财大B学生宿舍1楼入口</span>
                    </p>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="aui-content service-time-container">
    <ul class="aui-list aui-media-list">
    <li class="aui-list-item">
        <div class="aui-media-list-item-inner">
            <div class="aui-list-item-media">
                <label ><input class="aui-radio" type="checkbox" name="radio2">午餐</label>
            </div>
            <div class="aui-list-item-inner aui-list-item-arrow">
                <div class="aui-list-item-text">
                    <div class="aui-list-item-title">
                    </div>
                    <div class="aui-list-item-right">
                        2017-07-10
                    </div>
                </div>
            </div>
        </div>
        <div class="aui-info">
            <div class="aui-info-item">每天中午12点前送达</div>
        </div>
    </li>
    <li class="aui-list-item">
        <div class="aui-media-list-item-inner">
            <div class="aui-list-item-media">
                <label ><input class="aui-radio" type="checkbox" name="radio2">晚餐</label>
            </div>
            <div class="aui-list-item-inner aui-list-item-arrow">
                <div class="aui-list-item-text">
                    <div class="aui-list-item-title">
                    </div>
                    <div class="aui-list-item-right">
                        <input type="text" placeholder="请选择开始送餐日期">
                    </div>
                </div>
            </div>
        </div>
        <div class="aui-info">
            <div class="aui-info-item">每天晚上7点前送达</div>
        </div>
    </li>
    <li class="aui-list-item">
        <div class="aui-media-list-item-inner">
            <div class="aui-list-item-media">
                优惠券
            </div>
            <div class="aui-list-item-inner aui-list-item-arrow">
                <div class="aui-list-item-text">
                    <div class="aui-list-item-title">
                    </div>
                    <div class="aui-list-item-right">
                        <input type="text" placeholder="暂无可用">
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="aui-list-item">
        <div class="aui-media-list-item-inner">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-text">
                    <div class="aui-list-item-title">备注</div>
                </div>
                <div class="aui-list-item-text">
                    <div class="f-textarea">
                        <textarea name="" id="" placeholder="请输入备注内容"></textarea>
                        <div class="textarea-ext">50字以内</div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    </ul>
</div>
<div class="aui-content aui-margin-b-15">
    <ul class="aui-list aui-media-list">
        <li class="aui-list-header"><span class="tj-header">推荐搭配</span></li>
        <li class="aui-list-item">
            <div class="aui-media-list-item-inner">
                <div class="aui-list-item-media">
                    <img src="__ROOT__/application/Yanshi/Dist/images/yanshi/yp-2.jpg">
                </div>
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-text">
                        <div class="aui-list-item-title">夏季清爽酸梅汤</div>
                        <div class="aui-list-item-right">￥15</div>
                    </div>
                    <div class="aui-list-item-text">
                        大份，7天
                    </div>
                    <div class="aui-list-item-text">
                        送餐次数：6次
                    </div>
                </div>
                <div class="yp-detele-wrapper">
                    <div class="yp-select-btn">取消</div>
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-media-list-item-inner">
                <div class="aui-list-item-media">
                    <img src="__ROOT__/application/Yanshi/Dist/images/yanshi/yp-1.jpg">
                </div>
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-text">
                        <div class="aui-list-item-title">夏季清爽酸梅汤</div>
                        <div class="aui-list-item-right">￥28</div>
                    </div>
                    <div class="aui-list-item-text">
                        大份，7天
                    </div>
                    <div class="aui-list-item-text">
                        送餐次数：6次
                    </div>
                </div>
                <div class="yp-detele-wrapper">
                    <div class="yp-select-btn">加入订单</div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="aui-content aui-margin-b-15">
    <div class="aui-content ys-pt-container">
        <div class="ys-pt-header">
            拼团信息
        </div>
    </div>
    <ul class="aui-list aui-media-list pt-list">
        <li class="aui-list-item">
            <div class="aui-col-xs-2 aui-ellipsis-1">张小明</div>
            <div class="aui-col-xs-6 ">152XTS20172833</div>
            <div class="aui-col-xs-2 " style="color:#fa5400;">-￥10</div>
            <div class="aui-col-xs-2 ">已预订</div>
        </li>
        <li class="aui-list-item">
            <div class="aui-col-xs-2 aui-ellipsis-1">周星驰</div>
            <div class="aui-col-xs-6 ">152XTS20172333</div>
            <div class="aui-col-xs-2 " style="color:#fa5400;">-￥10</div>
            <div class="aui-col-xs-2">未预订</div>
        </li>
    </ul>
</div>
<section class="aui-content order-pay-content">
    <div class="aui-col-xs-8">
        <span class="order-pay-money">￥398.9</span>
        <span class="yh-wrapper">| 已优惠<em class="yh-money">￥60.1</em></span>
    </div>
    <div class="aui-col-xs-4 wx-pay">微信支付</div>
</section>
</body>
</html>