<tc_include file="Common:head" />
<body class="ys-edit-shopping-car">
<div class="aui-content ys-margin-b">
    <div class="aui-content">
        <div class="aui-content ys-edit-spcar-container">
            <div class="ys-edit-spcar-wrap">完成</div>
        </div>
    	<ul class="aui-list aui-media-list">
    		<li class="aui-list-item">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media">
                        <input class="aui-radio" type="checkbox" name="radio2">
                       	<img src="__ROOT__/application/Yanshi/Dist/images/yanshi/jk-2.jpg">
                    </div>
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-text">
                           	<div class="aui-list-item-title">3日健康体检餐</div>
                            <div class="aui-list-item-right">￥177</div>
                        </div>
                        <div class="aui-list-item-text">
                            大份，30天
                        </div>
                    </div>
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media">
                        <input class="aui-radio" type="checkbox" name="radio2">
                        <img src="__ROOT__/application/Yanshi/Dist/images/yanshi/jk-3.jpg">
                    </div>
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title">冬日非凡系列</div>
                            <div class="aui-list-item-right">￥1080</div>
                        </div>
                        <div class="aui-list-item-text">
                            大份，14天
                        </div>
                    </div>
                </div>
            </li>
    	</ul>
    </div>
    <div class="aui-content aui-margin-t-15">
        <div class="aui-content ys-edit-spcar-container">
            <div class="ys-edit-spcar-wrap" style="text-align:left;">
                失效商品
            </div>
        </div>
        <ul class="aui-list aui-media-list">
            <li class="aui-list-item">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media">
                        <input class="aui-radio" type="checkbox" name="radio2">
                        <img src="__ROOT__/application/Yanshi/Dist/images/yanshi/jk-4.jpg">
                    </div>
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title">营养早餐好活力</div>
                            <div class="aui-list-item-right">￥365</div>
                        </div>
                        <div class="aui-list-item-text">
                            大份，90天
                        </div>
                    </div>
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media">
                        <input class="aui-radio" type="checkbox" name="radio2">
                        <img src="__ROOT__/application/Yanshi/Dist/images/yanshi/yp-1.jpg">
                    </div>
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title">夏日饮品</div>
                            <div class="aui-list-item-right">￥30</div>
                        </div>
                        <div class="aui-list-item-text">
                            小份，7天
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div> 
</div>
<footer id="footer" class="aui-bar aui-bar-tab">
    <ul class="aui-list aui-media-list">
        <li class="aui-list-item">
            <div class="aui-media-list-item-inner aui-swipe-handle">
                <div class="aui-list-item-media">
                    <label ><input class="aui-radio" type="checkbox" name="radio2">全选</label>
                </div>
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-text">
                        <div class="aui-list-item-title">
                            
                        </div>
                        <div class="aui-list-item-right">
                            <div class="delete-spcar-btn">删除商品</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</footer>
</body>
</html>