<tc_include file="Common:head" />
<body class="ys-shopping-car">
<div class="aui-content ys-margin-b">
    <div class="aui-content">
        <div class="aui-content ys-edit-spcar-container">
            <div class="ys-edit-spcar-wrap">
                <!-- <i class="ys-edit-icon"></i> -->
                <img class="edit-img" src="__ROOT__/application/Yanshi/Dist/images/yanshi/edit.jpg" width="20" height="20"/>
                <span class="ys-edit-text" tapmode onclick="editSPEvt()">编辑商品</span>
            </div>
        </div>
    	<ul class="aui-list aui-media-list">
    		<li class="aui-list-item">
                <div class="aui-media-list-item-inner aui-swipe-handle">
                    <div class="aui-list-item-media">
                        <input class="aui-radio" type="checkbox" name="radio2">
                       	<img src="__ROOT__/application/Yanshi/Dist/images/yanshi/jk-2.jpg">
                    </div>
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-text">
                           	<div class="aui-list-item-title">3日健康体检餐</div>
                            <div class="aui-list-item-right">￥177</div>
                        </div>
                        <div class="aui-list-item-text">
                            大份，30天
                        </div>
                    </div>
                </div>
                <div class="aui-swipe-btn">
                    <div class="aui-btn aui-btn-danger">删除</div>
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-media-list-item-inner aui-swipe-handle">
                    <div class="aui-list-item-media">
                        <input class="aui-radio" type="checkbox" name="radio2">
                        <img src="__ROOT__/application/Yanshi/Dist/images/yanshi/jk-3.jpg">
                    </div>
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title">冬日非凡系列</div>
                            <div class="aui-list-item-right">￥1080</div>
                        </div>
                        <div class="aui-list-item-text">
                            大份，14天
                        </div>
                    </div>
                </div>
                <div class="aui-swipe-btn">
                    <div class="aui-btn aui-btn-danger">删除</div>
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-media-list-item-inner aui-swipe-handle">
                    <div class="aui-list-item-media">
                        <input class="aui-radio" type="checkbox" name="radio2">
                        <img src="__ROOT__/application/Yanshi/Dist/images/yanshi/jk-2.jpg">
                    </div>
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title">3日健康体检餐</div>
                            <div class="aui-list-item-right">￥177</div>
                        </div>
                        <div class="aui-list-item-text">
                            大份，30天
                        </div>
                    </div>
                </div>
                <div class="aui-swipe-btn">
                    <div class="aui-btn aui-btn-danger">删除</div>
                </div>
            </li>
    	</ul>
    </div>
    <div class="aui-content aui-margin-t-15">
        <div class="aui-content ys-edit-spcar-container">
            <div class="ys-edit-spcar-wrap">
                <span class="ys-invalid-header">失效商品</span>
                <!-- <i class="ys-edit-icon"></i> -->
                <img class="edit-img" src="__ROOT__/application/Yanshi/Dist/images/yanshi/delete.jpg" width="20" height="20"/>
                <span class="ys-edit-text" style="color:gray;">清空</span>
            </div>
        </div>
        <ul class="aui-list aui-media-list">
            <li class="aui-list-item">
                <div class="aui-media-list-item-inner aui-swipe-handle">
                    <div class="aui-list-item-media">
                        <input class="aui-radio aui-invisible" type="checkbox" name="radio2">
                        <img src="__ROOT__/application/Yanshi/Dist/images/yanshi/jk-4.jpg">
                    </div>
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title">营养早餐好活力</div>
                            <div class="aui-list-item-right">￥365</div>
                        </div>
                        <div class="aui-list-item-text">
                            大份，90天
                        </div>
                    </div>
                </div>
               <!--  <div class="aui-swipe-btn">
                    <div class="aui-btn aui-btn-danger">删除</div>
                </div> -->
            </li>
            <li class="aui-list-item">
                <div class="aui-media-list-item-inner aui-swipe-handle">
                    <div class="aui-list-item-media">
                        <input class="aui-radio aui-invisible" type="checkbox" name="radio2">
                        <img src="__ROOT__/application/Yanshi/Dist/images/yanshi/yp-1.jpg">
                    </div>
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title">夏日饮品</div>
                            <div class="aui-list-item-right">￥30</div>
                        </div>
                        <div class="aui-list-item-text">
                            小份，7天
                        </div>
                    </div>
                </div>
               <!--  <div class="aui-swipe-btn">
                    <div class="aui-btn aui-btn-danger">删除</div>
                </div> -->
            </li>
        </ul>
    </div> 
</div>
<footer id="footer" class="aui-bar aui-bar-tab">
    <ul class="aui-list aui-media-list">
        <li class="aui-list-item">
            <div class="aui-media-list-item-inner">
                <div class="aui-list-item-media">
                    <label ><input class="aui-radio" type="checkbox" name="radio2">全选</label>
                </div>
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-text">
                        <div class="aui-list-item-title">
                            合计<span class="total-pay-text">￥379.9</span>
                        </div>
                        <div class="aui-list-item-right">
                            <div class="go-pay-btn">去结算<span class="pay-num">(2)</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</footer>
</body>
<script type="text/javascript" src="__ROOT__/application/Yanshi/Dist/js/aui/aui-list-swipe.js"></script>
<script type="text/javascript">
    var swipe = new auiListSwipe(function(ret){
        // console.log(ret)
    });

    function editSPEvt() {
        window.location.href = "{:U('shoppingcar/edit')}";
    }
</script>
</html>