<tc_include file="Common:head" />
<body class="ys-address-list">
<div class="aui-content">
	<ul class="aui-list aui-media-list">
		<li class="aui-list-item">
			<div class="aui-media-list-item-inner">
	            <div class="aui-list-item-inner">
	            	<div class="aui-list-item-text">
	            		<p class="order-address">成都成华区西林路199号北回归线7栋1单元2单元
						单元2203</p>
	            	</div>
	                <div class="aui-list-item-text aui-margin-t-10">
	                	<p class="order-info">
	                        <span class="order-username aui-margin-r-5">王小明</span>
	                        <span class="order-tel">15902833211</span>
	                    </p>
	                </div>
	                <div class="aui-list-item-text aui-margin-t-15 aui-padded-t-10">
	                    <div class="aui-list-item-title">
	                    	<label class="radio-label default-label"><input class="aui-radio" type="radio" name="radio2" checked="checked">默认地址</label>
	                    </div>
                        <div class="aui-list-item-right">
							<img class="edit-img" src="__ROOT__/application/Yanshi/Dist/images/yanshi/edit.jpg" />
							<img class="del-img" src="__ROOT__/application/Yanshi/Dist/images/yanshi/delete.jpg" />
                        </div>
	                </div>
	            </div>
            </div>
		    
		</li>
		<li class="aui-list-item">
			<div class="aui-media-list-item-inner">
	            <div class="aui-list-item-inner">
	            	<div class="aui-list-item-text">
	            		<p class="order-address">新里·维多利亚公寓2栋1单元15楼3号</p>
	            	</div>
	                <div class="aui-list-item-text aui-margin-t-10">
	                	<p class="order-info">
	                        <span class="order-username aui-margin-r-5">安妮</span>
	                        <span class="order-tel">13208468889</span>
	                    </p>
	                </div>
	                <div class="aui-list-item-text aui-margin-t-15 aui-padded-t-10">
	                    <div class="aui-list-item-title">
	                    	<label class="radio-label"><input class="aui-radio" type="radio" name="radio2" >设为默认</label>
	                    </div>
                        <div class="aui-list-item-right">
							<img class="edit-img" src="__ROOT__/application/Yanshi/Dist/images/yanshi/edit.jpg" />
							<img class="del-img" src="__ROOT__/application/Yanshi/Dist/images/yanshi/delete.jpg" />
                        </div>
	                </div>
	            </div>
            </div>
		    
		</li>
		<li class="aui-list-item">
			<div class="aui-media-list-item-inner">
	            <div class="aui-list-item-inner">
	            	<div class="aui-list-item-text">
	            		<p class="order-address">新里·维多利亚公寓2栋1单元15楼3号</p>
	            	</div>
	                <div class="aui-list-item-text aui-margin-t-10">
	                	<p class="order-info">
	                        <span class="order-username aui-margin-r-5">安妮</span>
	                        <span class="order-tel">13208468889</span>
	                    </p>
	                </div>
	                <div class="aui-list-item-text aui-margin-t-15 aui-padded-t-10">
	                    <div class="aui-list-item-title">
	                    	<label class="radio-label"><input class="aui-radio" type="radio" name="radio2" >设为默认</label>
	                    </div>
                        <div class="aui-list-item-right">
							<img class="edit-img" src="__ROOT__/application/Yanshi/Dist/images/yanshi/edit.jpg" />
							<img class="del-img" src="__ROOT__/application/Yanshi/Dist/images/yanshi/delete.jpg" />
                        </div>
	                </div>
	            </div>
            </div>
		    
		</li>
	</ul>
</div>
</body>
</html>